BODY {
    background: black;
    transition: 2s;
}

[id='1'] {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


  DIV {
    border: white 2px solid;
    width: 100%;
    display: flex;
    border-radius: 20%;
    transition: 0.5s;
    }

@media only screen and (max-width: 1600px) {
    [id='1'] {
        height: 1000px;
        width: 1000px;
    }
    DIV {
        padding: 35px;
    }
}

@media only screen and (max-width: 1200px) {
    [id='1'] {
        width: 800px;
        height: 800px;
    }
    DIV {
        padding: 29px;
    }
}

@media only screen and (max-width: 992px) {
    [id='1'] {
        width: 600px;
        height: 600px;
    }
    DIV {
        padding: 21px;
    }
}

@media only screen and (max-width: 768px) {
    [id='1'] {
        width: 400px;
        height: 400px;
    }
    DIV {
        padding: 12.8px;
    }
}

@media only screen and (max-width: 576px) {
    [id='1'] {
        width: 250px;
        height: 250px;
    }
    DIV {
        padding: 6.5px;
    }
}

@keyframes rotate {
    10% {transform: rotate(360deg)}
    20% {transform: rotate(-360deg)}
    30% {transform: rotate(360deg)}
    40% {transform: rotate(-360deg)}
    50% {transform: rotate(360deg)}
    60% {transform: rotate(-360deg)}
    70% {transform: rotate(360deg)}
    80% {transform: rotate(-360deg)}
    90% {transform: rotate(360deg)}
    100% {transform: rotate(-360deg)}
}

.rotate {
    animation-name: rotate;
    animation-duration: 600s;
    transition-timing-function: linear;
}
